<ion-content style="position: fixed">
  <div id="chartContainer" style="margin-top:20px; height: 300px; width: 100%;"></div>
  <ion-item>
    {{(timeEnd - timeStart) / 86400 + 1}} day(s) calculating
    <div style="position: fixed; right: 5%">
      <button style="background: none; border: none;" (click)="onClickDefault()">Default</button>
    </div>
  </ion-item>
  <ion-item>
    <ion-datetime displayFormat="YYYY/MM/DD"
                  id="inputDateStart"
                  placeholder="Select Start Date"
                  [max]="dateEnd ? dateEnd : dateToday"
                  [min]="'1970-01-01'"
                  [(ngModel)]="dateStart"
                  (ionChange)="onDateChanged()"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-datetime displayFormat="YYYY/MM/DD"
                  id="inputDateEnd"
                  placeholder="Select End Date"
                  [min]="dateStart ? dateStart : '1970-01-01'"
                  [max]="dateToday"
                  [(ngModel)]="dateEnd"
                  (ionChange)="onDateChanged()"></ion-datetime>
  </ion-item>
  <ion-item>
    XXX
    <ion-list lines="none">
        <ion-item href="https://ionicframework.com/docs/">
          <ion-icon slot="start" color="medium" name="book"></ion-icon>
          <ion-label>Ionic Documentation</ion-label>
        </ion-item>
        <ion-item href="https://ionicframework.com/docs/building/scaffolding">
          <ion-icon slot="start" color="medium" name="build"></ion-icon>
          <ion-label>Scaffold Out Your App</ion-label>
        </ion-item>
        <ion-item href="https://ionicframework.com/docs/layout/structure">
          <ion-icon slot="start" color="medium" name="grid"></ion-icon>
          <ion-label>Change Your App Layout</ion-label>
        </ion-item>
        <ion-item href="https://ionicframework.com/docs/theming/basics">
          <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
          <ion-label>Theme Your App</ion-label>
        </ion-item>
      </ion-list>
  </ion-item>
</ion-content>