<ion-content [scrollEvents]="true">
  <!-- Summary the css style later -->
  <!-- Achieve first -->
  <table class="table">
    <thead>
      <tr>
        <th style="text-align:center">
          <div id="timeNow" style="font-size: 1.5em;"></div>
        </th>
        <th style="text-align:center">
          <div align="left">
            <button type="button" class="btn btn-primary customLabel"
              style="background-color:gray;"
              (click)="onLabelEdit()">
              <div *ngIf="!labelEditable">Edit labels</div>
              <div *ngIf="labelEditable">Return</div>
            </button>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td style="border:1px solid; width:66.6%;"
          [style.height]="lengthDisplayOneDay + 'px'">
          <div class="chartDiv">
            <div *ngFor="let item of displayList"
            [style.backgroundColor]="item.color"
            [style.height]="item.length + 'px'">
            LABEL
          </div>
          </div>
          <div class="calibrationDiv">
            TODO: Calibration
          </div>
        </td>
  
        <td align="center">
          <div *ngIf="storage.setting.length">
            <div *ngIf="labelEditable" style="margin-bottom:10px">
              <button type="button" class="btn btn-primary customLabel"
                style="background-color:gray;"
                (click)="onLabelDefault()">
                Default
              </button>
            </div>
            <!-- TODO drag and drop -->
            <div *ngFor="let item of storage.setting" style="margin-bottom:10px">
              <button type="button" class="btn btn-primary customLabel"
                [style.background-color]="item.color"
                [style.width]="labelEditable ? '80%' : '100%'"
                (click)="onLabelClick(item.label)">
                {{item.label}}
              </button>
              <button type="button" class="btn btn-sm customX"
                *ngIf="labelEditable"
                (click)="onLabelDelete(item.label)">
                X
              </button>
            </div>
            <div *ngIf="labelEditable">
              <input [(colorPicker)]="colorAdded"
                [style.background]="colorAdded"
                placeholder="Label Name"
                [(ngModel)]="labelAdded"
                [cpPosition]="'bottom'"
                style="width: 100%"/>
              <button type="button" class="btn btn-primary customLabel"
                style="background-color:gray;"
                (click)="onLabelAdd(labelAdded, colorAdded)">
                Add
              </button>
            </div>
          </div>
  
          <div *ngIf="!storage.setting.length">
            You can creat your label below.
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div style="margin-bottom:10px" align="right">
    <button type="button" class="btn btn-primary customLabel"
      style="background-color:black;"
      (click)="onLabelRevert()">Revert</button>
  </div>

</ion-content>

