button.customLabel{
  width: 100%;
  border: none;
  display: inline-block;
}
button.customX{
  width: 20%;
}
div.chartDiv{
  width: 45%;
  height: 100%;
  border: 1px solid;
  background-color: gainsboro;
  float: left;
}
div.calibrationDiv{
  width: 30%;
  height: 100%;
  border: 1px solid;
  background-color: gainsboro;
  display: inline-block;
}
div.dragLabelDiv{
  width: 25%;
  height: 100%;
  border: 1px solid;
  background-color: white;
  float: right;
  position: relative;
}
div.absoluteDiv{
  position: absolute;
  white-space: nowrap;
}
input.range{
  width: 30px;
  -webkit-appearance: slider-vertical;
  -moz-transform: slider-vertical;
  -o-transform: slider-vertical;
  -ms-transform: slider-vertical;
  transform: slider-vertical;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.phBlack::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

