button.customLabel{
  width: 100%;
  border: none;
  display:inline-block;
}
button.customX{
  width: 20%;
}
div.chartDiv{
  width:55%;
  height:100%;
  border:1px solid;
  background-color:gainsboro;
  float:left;
}
div.calibrationDiv{
  width:40%;
  height:100%;
  border:1px solid;
  background-color:gainsboro;
  display:inline-block;
}