<table class="table">
  <thead>
    <tr>
      <th style="text-align:center">Time</th>
      <th style="text-align:center">Label</th>
    </tr>
  </thead>
  <!-- Summary the css style later -->
  <tbody>
    <tr>
      <td style="border:1px solid">
        <!-- TODO component of chart -->
      </td>

      <td style="height:400px" align="center">

        <!-- TEST -->
        <div *ngIf="storage.setting.length">
          test setting display
          <div *ngFor="let item of storage.setting">
            {{item.label}}<span> </span>{{item.color}}
          </div>
        </div>

        <div style="margin-bottom:10px" align="right">
          <button type="button" class="btn btn-primary custom"
            style="background-color:black;"
            (click)="onLabelRevert()">Revert</button>
        </div>

        <!-- TODO drag and drop -->
        <div *ngIf="storage.setting.length">
          <div *ngFor="let item of storage.setting" style="margin-bottom:10px">
            <button type="button" class="btn btn-primary custom"
              [style.background-color]="item.color"
              (click)="onLabelClick(item.label)">{{item.label}}</button>
            <button type="button" class="btn btn-sm"
              *ngIf="labelDelEnableFlg"
              (click)="onLabelDelete(item.label)">X</button>
          </div>
        </div>

        <div *ngIf="!storage.setting.length">
          You can creat your label below.
        </div>
        
        <div align="right" *ngIf="labelDelEnableFlg">
          <button type="button" class="btn btn-primary custom"
            style="background-color:black;"
            (click)="onLabelDefault()">
            Default
          </button>
        </div>
        <div align="right">
          <button type="button" class="btn btn-primary custom"
            style="background-color:black;"
            (click)="onLabelEdit()">
            <div *ngIf="!labelDelEnableFlg">Edit labels</div>
            <div *ngIf="labelDelEnableFlg">Return</div>
          </button>
        </div>

        <div *ngIf="labelDelEnableFlg">
          <input [(colorPicker)]="colorAdded" [style.background]="colorAdded"
            placeholder="Input your new label"
            [(ngModel)]="labelAdded"
            style="width:200px;"/>
          <button type="button" class="btn btn-primary custom"
            style="background-color:black;"
            (click)="onLabelAdd(labelAdded, colorAdded)">Add</button>
        </div>

        <!-- TEST -->
        <div *ngIf="storage.record.length">
          test record display
          <div *ngFor="let record of storage.record">
            {{record.id}}<span> </span>{{record.timestamp}}<span> </span>{{record.label}}
          </div>
        </div>

      </td>
    </tr>
  </tbody>
</table>