<ion-content [scrollEvents]="true">
  <!-- Summary the css style later -->
  <!-- Achieve first -->
  <table class="table">
    <thead>
      <tr>
        <th style="text-align:center">
          <div id="timeNow" style="font-size: 1.5em;"></div>
        </th>
        <th style="text-align:center">
          <div align="left">
            <button type="button" class="btn btn-primary customLabel"
              style="background-color:gray;"
              (click)="onLabelEdit()">
              <div *ngIf="!labelEditable">Edit</div>
              <div *ngIf="labelEditable">Return</div>
            </button>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td style="border:1px solid; width:66.6%;">
          <!-- Adjust offset value: 2px -->
          <div class="chartDiv"
              [style.height]="lthDisFull + 2 + 'px'"
              [style.padding-top]="lthDisPaddingA + 'px'"
              [style.padding-bottom]="lthDisPaddingA + 'px'">
            <div *ngFor="let item of displayList"
                [style.backgroundColor]="item.color"
                [style.height]="item.length + 'px'">
            </div>
          </div>
          <div class="calibrationDiv">
            <img src="../../assets/img/scaleWithNumber3000-600-625.jpg" alt="scale image" [height]="lthDisFull">
          </div>
          <div class="dragLabelDiv"
              [style.height]="lthDisFull + 2 + 'px'"
              [style.padding-top]="lthDisPaddingB + 'px'"
              [style.padding-bottom]="lthDisPaddingB + 'px'">
            <input type="range"
                   id="rangeTime"
                   class="range"
                   [min]="0"
                   [max]="lthDisPercent * lengthDisplayOneDay"
                   step="any"
                   [style.height]="lthDisPercent * 100 + '%'"
                   [(ngModel)]="lengthTimeSetPosition">
          </div>
        </td>
  
        <td align="center">
          <div *ngIf="storage.setting.length">
            <div *ngIf="labelEditable" style="margin-bottom:10px">
              <button type="button" class="btn btn-primary customLabel"
                style="background-color:gray;"
                (click)="onLabelDefault()">
                Default
              </button>
            </div>
            <!-- TODO drag and drop -->
            <div *ngFor="let item of storage.setting" style="margin-bottom:10px">
              <button type="button" class="btn btn-primary customLabel"
                [style.background-color]="item.color"
                [style.width]="labelEditable ? '80%' : '100%'"
                (click)="onLabelClick(item.label)">
                {{item.label}}
              </button>
              <button type="button" class="btn btn-sm customX"
                *ngIf="labelEditable"
                (click)="onLabelDelete(item.label)">
                X
              </button>
            </div>
            <div *ngIf="labelEditable">
              <input [(colorPicker)]="colorAdded"
                [style.background]="colorAdded"
                placeholder="Label Name"
                [(ngModel)]="labelAdded"
                [cpWidth]="'200%'"
                [cpPositionOffset]="'-200%'"
                [cpPosition]="'bottom'"
                style="width: 100%;"/>
              <button type="button" class="btn btn-primary customLabel"
                style="background-color:gray;"
                (click)="onLabelAdd(labelAdded, colorAdded)">
                Add
              </button>
            </div>
          </div>
  
          <div *ngIf="!storage.setting.length">
            You can creat your label below.
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div style="margin-bottom:10px" align="right">
    <button type="button" class="btn btn-primary customLabel"
      style="background-color:black;"
      (click)="onLabelRevert()">Revert</button>
  </div>

</ion-content>

