button.customLabel{
  width: 100%;
  border: none;
  display:inline-block;
}
button.customX{
  width: 20%;
}
div.chartDiv{
  width:45%;
  height:100%;
  border:1px solid;
  background-color:gainsboro;
  float:left;
}
div.calibrationDiv{
  width:30%;
  height:100%;
  border:1px solid;
  background-color:gainsboro;
  display:inline-block;
}
div.dragLabelDiv{
  width:25%;
  height:100%;
  border:1px solid;
  background-color:gainsboro;
  float:right;
}