button.customLabel{
  border-radius: 5px;
  width: 100%;
  border: none;
  display: inline-block;
}
button.customX{
  width: 20%;
}
div.chartDiv{
  width: 40%;
  height: 100%;
  background-color: white;
  float: left;
}
div.calibrationDiv{
  width: 30%;
  height: 100%;
  border: 1px solid white;
  background-color: white;
  float: left;
}
div.dragLabelDiv{
  width: 15%;
  height: 100%;
  border: 1px solid white;
  background-color: white;
  float: left;
  position: relative;
}
div.absoluteDiv{
  position: absolute;
  white-space: nowrap;
}
input.range{
  width: 30px;
  -webkit-appearance: slider-vertical;
  -moz-transform: slider-vertical;
  -o-transform: slider-vertical;
  -ms-transform: slider-vertical;
  transform: slider-vertical;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.phBlack::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}
div.calendarTime{
  font-size: 1.5em;
  height: 36px;
  width: 100%;
  margin-bottom: 6px;
}

button.flash{
  outline: none;
  border: none;
  z-index: 1;
  position: relative;
  color: white;
  background: #262626;
  padding: 0.5em 1em;
  overflow: hidden;
  --shine-width: 1.25em;
}
button.flash::after {
  content: "";
  z-index: -1;
  position: absolute;
  background: white;
  top: -50%;
  left: 8%; // left: 15%;
  bottom: -50%;
  width: 1.5em; // width: 1.25em;
  transform: translate3d(-200%, 0, 0) rotate(35deg);
}
button.flash:disabled {
  cursor: pointer;
}
button.flash:disabled::after {
  transition: transform 0.2s ease-in-out;
  transform: translate3d(500%, 0, 0) rotate(35deg);
}


