<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item href="https://github.com/ibarapascal/time-controller">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Find this application on Github</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Kei Kai</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
